.git
.idea
.kotlin
.gradle
**/build/
webApp/build/**
!webApp/build/dist/
!webApp/build/dist/js/
!webApp/build/dist/js/productionExecutable/
!webApp/build/dist/js/productionExecutable/**
node_modules/
local.properties
*.iml
androidApp/
iosApp/
desktopApp/
server/
.DS_Store
