*.iml
.kotlin
.gradle
**/build/
!webApp/build/
webApp/build/*
!webApp/build/dist/
webApp/build/dist/*
!webApp/build/dist/js/
webApp/build/dist/js/*
!webApp/build/dist/js/productionExecutable/
!webApp/build/dist/js/productionExecutable/**
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/

server/bin/
desktopApp/bin/
